%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} MovieApplication
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          Home
          %span.sr-only (current)
      - if user_signed_in? && policy(:booking).index?
        %li.nav-item.active
          %a.nav-link{:href => bookings_path}
            Show Bookings
      - if user_signed_in? && current_user.is_customer?
        %li.nav-item.active
          %a.nav-link{:href => movies_path}
            Movies
        %li.nav-item.active
          %a.nav-link{:href => my_bookings_bookings_path}
            My Orders
      %li.nav-item
        - if !user_signed_in?
          = link_to "Login", new_user_session_path, class: 'nav-link'
        - else
          = link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link'
